.vscode/
node_modules/
node_modules
.DS_Store

# Ignore built ts files
dist/**/*
dist

# Ignore .env file for secrets
.env

# Ignore file firebase keys secrets
src/firebase/serviceAccountKey.json
src/firebase/.firebase
src/utilities/key.json

# Coverage directory used by tools like istanbul
coverage
*.lcov

certificate.pem
privatekey.pem
certrequest.csr